@import "./common.scss";
.foot_wamp{
  width: 100%;
  position: fixed;
  height: pxTorem(48px);
  left: 0;
  bottom: 0;
  z-index: 5;
  background: #ffffff;
  border-top: 1px solid #e2e2e2;
  @extend .box-sizing;
}
.foot_center{
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  .foot_item{
    float: left;
    width:  20%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    img{
      width: pxTorem(24px);
      height: pxTorem(24px);
      display: block;
      margin: pxTorem(5px) auto 0;
      vertical-align: middle;
      @extend .filter100;
    }
    p{
      width: 100%;
      text-align: center;
      font-size: pxTorem(12px);
      color: #a3a3a3;
    }
    &.router-link-active{
      p{
        color: $active-color !important;
      }
      img {
        @extend .filterNone;
      }
    }
  }
}

