@import "./common.scss";
.header{
  position: fixed;
  width: 100%;
  height: pxTorem(38px);
  left:0;
  top:0;
  background: $bg-color;
  .header-center{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 pxTorem(10px);
    max-width: $max-width;
    @extend .box-sizing;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .tab-item{
      width: pxTorem(80px);
      height: pxTorem(38px);
      line-height: pxTorem(38px);
      color: $head-font-color;
      font-size: pxTorem(16px);
      text-align: center;
      &.active{
        color: $active-color;
      }
    }
  }
}
